@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pi44ir');
  src:  url('fonts/icomoon.eot?pi44ir#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pi44ir') format('truetype'),
    url('fonts/icomoon.woff?pi44ir') format('woff'),
    url('fonts/icomoon.svg?pi44ir#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clone:before {
  content: "\e9b1";
}
.icon-key-old:before {
  content: "\e9b0";
}
.icon-swap:before {
  content: "\e900";
}
.icon-dots:before {
  content: "\e901";
}
.icon-balance:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-fuel:before {
  content: "\e904";
}
.icon-tank:before {
  content: "\e905";
}
.icon-leaves:before {
  content: "\e906";
}
.icon-umbrella:before {
  content: "\e907";
}
.icon-rain:before {
  content: "\e908";
}
.icon-moon:before {
  content: "\e909";
}
.icon-sun:before {
  content: "\e90a";
}
.icon-cloud-sun:before {
  content: "\e90b";
}
.icon-cloud:before {
  content: "\e90c";
}
.icon-cloud-rain:before {
  content: "\e90d";
}
.icon-cloud-lightning:before {
  content: "\e90e";
}
.icon-snowflake:before {
  content: "\e90f";
}
.icon-flower:before {
  content: "\e910";
}
.icon-birthday-cake:before {
  content: "\e911";
}
.icon-present:before {
  content: "\e912";
}
.icon-candle:before {
  content: "\e913";
}
.icon-cake:before {
  content: "\e914";
}
.icon-coffee:before {
  content: "\e915";
}
.icon-beer:before {
  content: "\e916";
}
.icon-lemonade:before {
  content: "\e917";
}
.icon-martini:before {
  content: "\e918";
}
.icon-glass:before {
  content: "\e919";
}
.icon-bookmark:before {
  content: "\e91a";
}
.icon-folder-star:before {
  content: "\e91b";
}
.icon-folder-add:before {
  content: "\e91c";
}
.icon-heart:before {
  content: "\e91d";
}
.icon-star:before {
  content: "\e91e";
}
.icon-microphone:before {
  content: "\e91f";
}
.icon-headphones:before {
  content: "\e920";
}
.icon-headset:before {
  content: "\e921";
}
.icon-mute:before {
  content: "\e922";
}
.icon-unmute:before {
  content: "\e923";
}
.icon-note:before {
  content: "\e924";
}
.icon-eject:before {
  content: "\e925";
}
.icon-disk:before {
  content: "\e926";
}
.icon-prev:before {
  content: "\e927";
}
.icon-next:before {
  content: "\e928";
}
.icon-rewind-back:before {
  content: "\e929";
}
.icon-rewind-forward:before {
  content: "\e92a";
}
.icon-stop:before {
  content: "\e92b";
}
.icon-pause:before {
  content: "\e92c";
}
.icon-play:before {
  content: "\e92d";
}
.icon-rocket:before {
  content: "\e92e";
}
.icon-flywheel:before {
  content: "\e92f";
}
.icon-eye:before {
  content: "\e930";
}
.icon-card:before {
  content: "\e931";
}
.icon-money:before {
  content: "\e932";
}
.icon-wallet:before {
  content: "\e933";
}
.icon-yuan-circle:before {
  content: "\e934";
}
.icon-dollar-circle:before {
  content: "\e935";
}
.icon-pound-circle:before {
  content: "\e936";
}
.icon-euro-circle:before {
  content: "\e937";
}
.icon-grid-dotted:before {
  content: "\e938";
}
.icon-tie:before {
  content: "\e939";
}
.icon-t-shirt:before {
  content: "\e93a";
}
.icon-blade:before {
  content: "\e93b";
}
.icon-notes:before {
  content: "\e93c";
}
.icon-badge:before {
  content: "\e93d";
}
.icon-bag:before {
  content: "\e93e";
}
.icon-basket:before {
  content: "\e93f";
}
.icon-cart:before {
  content: "\e940";
}
.icon-truck:before {
  content: "\e941";
}
.icon-crown:before {
  content: "\e942";
}
.icon-diamond:before {
  content: "\e943";
}
.icon-award:before {
  content: "\e944";
}
.icon-medal:before {
  content: "\e945";
}
.icon-people:before {
  content: "\e946";
}
.icon-man-in-cap:before {
  content: "\e947";
}
.icon-man-in-tie:before {
  content: "\e948";
}
.icon-man:before {
  content: "\e949";
}
.icon-garage:before {
  content: "\e94a";
}
.icon-home:before {
  content: "\e94b";
}
.icon-key:before {
  content: "\e94c";
}
.icon-lock-unlocked:before {
  content: "\e94d";
}
.icon-lock:before {
  content: "\e94e";
}
.icon-zoom-out:before {
  content: "\e94f";
}
.icon-zoom-in:before {
  content: "\e950";
}
.icon-zoom:before {
  content: "\e951";
}
.icon-camera:before {
  content: "\e952";
}
.icon-image:before {
  content: "\e953";
}
.icon-doc-vertical:before {
  content: "\e954";
}
.icon-doc-horizontal:before {
  content: "\e955";
}
.icon-briefcase:before {
  content: "\e956";
}
.icon-filter:before {
  content: "\e957";
}
.icon-donut:before {
  content: "\e958";
}
.icon-graph-up:before {
  content: "\e959";
}
.icon-trash:before {
  content: "\e95a";
}
.icon-cut:before {
  content: "\e95b";
}
.icon-measure:before {
  content: "\e95c";
}
.icon-pencil:before {
  content: "\e95d";
}
.icon-settings:before {
  content: "\e95e";
}
.icon-wrench:before {
  content: "\e95f";
}
.icon-clip:before {
  content: "\e960";
}
.icon-speedometer:before {
  content: "\e961";
}
.icon-airpane:before {
  content: "\e962";
}
.icon-compass:before {
  content: "\e963";
}
.icon-pin:before {
  content: "\e964";
}
.icon-cursor:before {
  content: "\e965";
}
.icon-location:before {
  content: "\e966";
}
.icon-target:before {
  content: "\e967";
}
.icon-planet:before {
  content: "\e968";
}
.icon-globe:before {
  content: "\e969";
}
.icon-unlink:before {
  content: "\e96a";
}
.icon-link:before {
  content: "\e96b";
}
.icon-hourglass:before {
  content: "\e96c";
}
.icon-clock:before {
  content: "\e96d";
}
.icon-alarm:before {
  content: "\e96e";
}
.icon-calendar:before {
  content: "\e96f";
}
.icon-notepad:before {
  content: "\e970";
}
.icon-phone:before {
  content: "\e971";
}
.icon-wifi:before {
  content: "\e972";
}
.icon-signal:before {
  content: "\e973";
}
.icon-ball:before {
  content: "\e974";
}
.icon-basketball:before {
  content: "\e975";
}
.icon-flag:before {
  content: "\e976";
}
.icon-powerbutton:before {
  content: "\e977";
}
.icon-battery-off:before {
  content: "\e978";
}
.icon-battery-full:before {
  content: "\e979";
}
.icon-mouse:before {
  content: "\e97a";
}
.icon-screen:before {
  content: "\e97b";
}
.icon-tablet:before {
  content: "\e97c";
}
.icon-mobile:before {
  content: "\e97d";
}
.icon-horn:before {
  content: "\e97e";
}
.icon-email:before {
  content: "\e97f";
}
.icon-livechat:before {
  content: "\e980";
}
.icon-chat:before {
  content: "\e981";
}
.icon-lamp:before {
  content: "\e982";
}
.icon-ring:before {
  content: "\e983";
}
.icon-forbidden:before {
  content: "\e984";
}
.icon-info:before {
  content: "\e985";
}
.icon-warning:before {
  content: "\e986";
}
.icon-issue:before {
  content: "\e987";
}
.icon-paper-close:before {
  content: "\e988";
}
.icon-paper-check:before {
  content: "\e989";
}
.icon-paper-minus:before {
  content: "\e98a";
}
.icon-paper-plus:before {
  content: "\e98b";
}
.icon-paper-bars:before {
  content: "\e98c";
}
.icon-paper:before {
  content: "\e98d";
}
.icon-list-bars:before {
  content: "\e98e";
}
.icon-bars-checklist:before {
  content: "\e98f";
}
.icon-bars-list:before {
  content: "\e990";
}
.icon-bars:before {
  content: "\e991";
}
.icon-cloud-upload:before {
  content: "\e992";
}
.icon-cloud-download:before {
  content: "\e993";
}
.icon-upload:before {
  content: "\e994";
}
.icon-download:before {
  content: "\e995";
}
.icon-right-from-bracket:before {
  content: "\e996";
}
.icon-right-to-bracket:before {
  content: "\e997";
}
.icon-arrow-down:before {
  content: "\e998";
}
.icon-arrow-up:before {
  content: "\e999";
}
.icon-arrow-right:before {
  content: "\e99a";
}
.icon-arrow-left:before {
  content: "\e99b";
}
.icon-enter:before {
  content: "\e99c";
}
.icon-refresh:before {
  content: "\e99d";
}
.icon-check-circle:before {
  content: "\e99e";
}
.icon-close-circle:before {
  content: "\e99f";
}
.icon-minus-circle:before {
  content: "\e9a0";
}
.icon-plus-circle:before {
  content: "\e9a1";
}
.icon-down-circle:before {
  content: "\e9a2";
}
.icon-up-circle:before {
  content: "\e9a3";
}
.icon-right-circle:before {
  content: "\e9a4";
}
.icon-left-circle:before {
  content: "\e9a5";
}
.icon-undo:before {
  content: "\e9a6";
}
.icon-redo:before {
  content: "\e9a7";
}
.icon-check:before {
  content: "\e9a8";
}
.icon-close:before {
  content: "\e9a9";
}
.icon-minus:before {
  content: "\e9aa";
}
.icon-plus:before {
  content: "\e9ab";
}
.icon-down:before {
  content: "\e9ac";
}
.icon-up:before {
  content: "\e9ad";
}
.icon-right:before {
  content: "\e9ae";
}
.icon-left:before {
  content: "\e9af";
}
